.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionHeader {
  display: block;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitleText {
  font-size: 24px;
  font-weight: 600;
}

.sectionLink {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background: #2b2e33;
  border-radius: 50px;
}

.sectionDescription {
  padding-top: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  opacity: 0.75;
}
