.all-programs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-programs__bar {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.all-programs__input {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: #fafafa;
  background: #2b2e33;
  border: none;
  border-radius: 20px 0px 0px 20px;
  outline: none;
}

.all-programs__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 18px 0px 14px;
  font-size: 22px;
  color: #1e2127;
  background: #61afef;
  border: none;
  border-radius: 0px 20px 20px 0px;
  transition: opacity 0.3s ease;
}

.all-programs__button:hover {
  opacity: 0.8;
}
