.post__title {
  font-size: 5em;
  line-height: 1.1;
}

.post__date {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.18em;
  color: rgba(255, 255, 255, 0.4)
}

.post__dot {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #61afef;
}

.post__image {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 8px;
  margin-top: 40px;
  max-height: 440px;
}

.post__content {
  width: 100%;
  margin-top: 30px;
  color: rgb(161, 161, 161);
}

.post__content h2 {
  font-size: 1.5em;
  margin: 48px 0 6px;
  font-weight: 600;
  line-height: 1.25;
  color: #FFF;
}

.post__content ul {
  margin-top: 24px;
  font-size: 1.1em;
  padding-left: 2em;
  margin-bottom: 20px;
  color: inherit;
}

.post__content>p {
  text-align: left;
  margin-bottom: 32px;
  line-height: 28px;
  font-size: 1.13em;
  font-weight: 400;
  color: inherit;
}

.post__content>p>video {
  border-radius: 8px;
  margin-top: 30px;
}

.post__content a {
  color: #61afef;
  text-decoration: none;
}

.post__content blockquote {
  padding: 0 1em;
  color: #8b949e;
  border-left: 0.25em solid #30363d;
  font-size: 1em;
}

.post__content>p>code {
  padding: 0.2em 0.4em;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
  font-size: 0.95em;
  color: #61afef;
}

.post__content table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.post__content table tr {
  border-top: 1px solid #c6cbd1;
}

.post__content table th,
.post__content table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.post__content image {
  border-radius: 8px;
}


@media only screen and (max-width: 700px) {

  .post__title {
    font-size: 2.6em;
  }

  .post__date {
    gap: 8px;
    font-size: 1em;
  }

  .post__content blockquote {
    font-size: 0.8em;
  }

}