.single-program {
  display: flex;
  width: 100%;
  height: 100vh;
}

.single-program__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: fit-content;
  min-width: 240px;
  user-select: none;
  padding: 20px;
  color: #fafafa;
  background: #2b2e33;
  border-radius: 10px;
}

.single-program__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
}

.single-program__icon {
  width: 40%;
  min-width: 60px;
  max-width: 80px;
  padding-top: 10px;
  aspect-ratio: 1/1;
  user-select: none;
}

.single-program__name {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.single-program__items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-program__item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.single-program button {
  transition: color 0.3s ease;
}

.single-program button:hover {
  color: #61afef;
}

.single-program button:hover > svg {
  stroke: #61afef;
}

.single-program__item:last-child {
  margin-bottom: 5px;
}

.single-program__item > svg {
  font-size: 20px;
  stroke: #fff;
  margin-right: 8px;
  transition: stroke 0.3s ease;
}

.single-program__content {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  color: #fafafa;
  background: #2b2e33;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .single-program {
    flex-direction: column;
  }

  .single-program__card {
    width: 100%;
  }

  .single-program__content {
    height: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}
