.single-program {
  display: flex;
  width: 100%;
  height: 100vh;
}

.single-program__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: fit-content;
  min-width: 260px;
  user-select: none;
  padding: 20px;
  color: #fafafa;
  background: #2b2e33;
  border-radius: 10px;
}

.single-program__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
}

.single-program__icon {
  width: 40%;
  min-width: 60px;
  max-width: 80px;
  padding-top: 10px;
  aspect-ratio: 1/1;
  user-select: none;
}

.single-program__name {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.single-program__items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.single-program__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 16px;
}

.single-program__item > select {
  width: 100%;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.single-program__item > select > option {
  background: #1e2127;
  padding: 4px 0px;
}

button.single-program__item {
  color: #1e2127;
  background: #61afef;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  line-height: 1.2;
}

button.single-program__item > svg {
  stroke: #1e2127;
}

button.single-program__item:hover {
  opacity: 0.8;
}

.single-program__item > svg {
  font-size: 20px;
  stroke: #fff;
  margin-right: 8px;
}

.single-program__content {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  color: #fafafa;
  background: #2b2e33;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .single-program {
    flex-direction: column;
  }

  .single-program__card {
    width: 100%;
  }

  .single-program__content {
    height: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}
